pkgbase = zalomarchy
	pkgdesc = Zalo desktop client optimized for Wayland, Hyprland, and Omarchy (native package, full feature call engine)
	pkgver = 26.8.20
	pkgrel = 1
	url = https://github.com/alaireselene/zalo-omarchy
	install = zalomarchy.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = nodejs>=18
	makedepends = npm
	makedepends = 7zip
	makedepends = gcc
	makedepends = gcc-libs
	depends = alsa-lib
	depends = at-spi2-atk
	depends = atk
	depends = cairo
	depends = cups
	depends = glibc
	depends = gtk3
	depends = libdrm
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxshmfence
	depends = mesa
	depends = nss
	depends = pango
	depends = zlib
	depends = wine
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-libav
	depends = xorg-server-xvfb
	depends = xdotool
	depends = python-dbus
	depends = wl-clipboard
	provides = zalo
	provides = zalo-for-linux
	provides = zalo-bin
	provides = zalomarchy
	conflicts = zalo
	conflicts = zalo-for-linux
	conflicts = zalo-for-linux-bin
	conflicts = zalo-bin
	options = !strip
	options = !debug
	source = git+https://github.com/alaireselene/zalo-omarchy.git#branch=main
	source = zalomarchy.desktop
	source = zalomarchy.sh
	sha256sums = SKIP
	sha256sums = 830f857518636d376f0cfe5d6fe511e3a03fb0223e2807d152179245c554df3e
	sha256sums = 6df1317db1dcdadc1b0939cbf805fe826ac0c52ecea6ae33e54fe60259db4f33

pkgname = zalomarchy
